name: CI/CD Test

on:
  push:
    branches: ["main"]

jobs:
  # === API TESTS ===
   api_tests:
    name: 游댌 API Tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Install Newman
      run: npm install -g newman

    - name: Restore .NET dependencies
      run: dotnet restore server.csproj
      working-directory: WTP-main/server

    - name: Build .NET project
      run: dotnet build server.csproj --no-restore
      working-directory: WTP-main/server

    - name: Start API server
      run: nohup dotnet run --project server.csproj --urls=http://localhost:5000 &
      working-directory: WTP-main/server



  # === GUI TESTS ===
   gui_tests:
    runs-on: ubuntu-latest
    needs: api_tests
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore
        working-directory: N2NTest

      - name: Build GUI test project
        run: dotnet build
        working-directory: N2NTest

      - name: Install Playwright browsers
        run: pwsh bin/Debug/net8.0/playwright.ps1 install --with-deps
        working-directory: N2NTest

      - name: Start API server
        run: nohup dotnet run --urls=http://localhost:5000 &
        working-directory: WTP-main/server

      - name: Run GUI tests
        run: xvfb-run --auto-servernum --server-args='-screen 0 1024x768x24' dotnet test
        working-directory: N2NTest


  # === DEPLOY ===
   deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    needs: [api_tests, gui_tests]
    steps:
      - name: Deploy App
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /srv/www/malmo/william-eliasson # f칬rsta g친ngen
            cd /srv/www/malmo/<studentnamn>/https://github.com/villee10/project-clean # andra g친ngen 
            git clone <https:adress> # f칬rsta g친ngen
            git pull # andra g친ngen
